.lf-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.lf-grid--vertical {
  flex-direction: column;
}

.lf-grid--reverse {
  justify-content: flex-end;
}

.lf-grid--center {
  justify-content: center;
}

.lf-grid--cross-center {
  align-items: center;
}

.lf-grid--stretch {
  align-items: stretch;
}

[class*="lf-grid__col"] {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
}

.lf-grid__col--1-12 {
  flex-basis: 8.33333%;
}

.lf-grid__col--2-12 {
  flex-basis: 16.66667%;
}

.lf-grid__col--3-12 {
  flex-basis: 25%;
}

.lf-grid__col--4-12 {
  flex-basis: 33.33333%;
}

.lf-grid__col--5-12 {
  flex-basis: 41.66667%;
}

.lf-grid__col--6-12 {
  flex-basis: 50%;
}

.lf-grid__col--7-12 {
  flex-basis: 58.33333%;
}

.lf-grid__col--8-12 {
  flex-basis: 66.66667%;
}

.lf-grid__col--9-12 {
  flex-basis: 75%;
}

.lf-grid__col--10-12 {
  flex-basis: 83.33333%;
}

.lf-grid__col--11-12 {
  flex-basis: 91.66667%;
}

.lf-grid__col--12-12 {
  flex-basis: 100%;
}

@media all and (min-width: 35.5rem) {
  .lf-grid__col--sm-1-12 {
    flex-basis: 8.33333%;
  }

  .lf-grid__col--sm-2-12 {
    flex-basis: 16.66667%;
  }

  .lf-grid__col--sm-3-12 {
    flex-basis: 25%;
  }

  .lf-grid__col--sm-4-12 {
    flex-basis: 33.33333%;
  }

  .lf-grid__col--sm-5-12 {
    flex-basis: 41.66667%;
  }

  .lf-grid__col--sm-6-12 {
    flex-basis: 50%;
  }

  .lf-grid__col--sm-7-12 {
    flex-basis: 58.33333%;
  }

  .lf-grid__col--sm-8-12 {
    flex-basis: 66.66667%;
  }

  .lf-grid__col--sm-9-12 {
    flex-basis: 75%;
  }

  .lf-grid__col--sm-10-12 {
    flex-basis: 83.33333%;
  }

  .lf-grid__col--sm-11-12 {
    flex-basis: 91.66667%;
  }

  .lf-grid__col--sm-12-12 {
    flex-basis: 100%;
  }
}
@media all and (min-width: 48rem) {
  .lf-grid__col--md-1-12 {
    flex-basis: 8.33333%;
  }

  .lf-grid__col--md-2-12 {
    flex-basis: 16.66667%;
  }

  .lf-grid__col--md-3-12 {
    flex-basis: 25%;
  }

  .lf-grid__col--md-4-12 {
    flex-basis: 33.33333%;
  }

  .lf-grid__col--md-5-12 {
    flex-basis: 41.66667%;
  }

  .lf-grid__col--md-6-12 {
    flex-basis: 50%;
  }

  .lf-grid__col--md-7-12 {
    flex-basis: 58.33333%;
  }

  .lf-grid__col--md-8-12 {
    flex-basis: 66.66667%;
  }

  .lf-grid__col--md-9-12 {
    flex-basis: 75%;
  }

  .lf-grid__col--md-10-12 {
    flex-basis: 83.33333%;
  }

  .lf-grid__col--md-11-12 {
    flex-basis: 91.66667%;
  }

  .lf-grid__col--md-12-12 {
    flex-basis: 100%;
  }
}
@media all and (min-width: 64rem) {
  .lf-grid__col--lg-1-12 {
    flex-basis: 8.33333%;
  }

  .lf-grid__col--lg-2-12 {
    flex-basis: 16.66667%;
  }

  .lf-grid__col--lg-3-12 {
    flex-basis: 25%;
  }

  .lf-grid__col--lg-4-12 {
    flex-basis: 33.33333%;
  }

  .lf-grid__col--lg-5-12 {
    flex-basis: 41.66667%;
  }

  .lf-grid__col--lg-6-12 {
    flex-basis: 50%;
  }

  .lf-grid__col--lg-7-12 {
    flex-basis: 58.33333%;
  }

  .lf-grid__col--lg-8-12 {
    flex-basis: 66.66667%;
  }

  .lf-grid__col--lg-9-12 {
    flex-basis: 75%;
  }

  .lf-grid__col--lg-10-12 {
    flex-basis: 83.33333%;
  }

  .lf-grid__col--lg-11-12 {
    flex-basis: 91.66667%;
  }

  .lf-grid__col--lg-12-12 {
    flex-basis: 100%;
  }
}
@media all and (min-width: 80rem) {
  .lf-grid__col--xl-1-12 {
    flex-basis: 8.33333%;
  }

  .lf-grid__col--xl-2-12 {
    flex-basis: 16.66667%;
  }

  .lf-grid__col--xl-3-12 {
    flex-basis: 25%;
  }

  .lf-grid__col--xl-4-12 {
    flex-basis: 33.33333%;
  }

  .lf-grid__col--xl-5-12 {
    flex-basis: 41.66667%;
  }

  .lf-grid__col--xl-6-12 {
    flex-basis: 50%;
  }

  .lf-grid__col--xl-7-12 {
    flex-basis: 58.33333%;
  }

  .lf-grid__col--xl-8-12 {
    flex-basis: 66.66667%;
  }

  .lf-grid__col--xl-9-12 {
    flex-basis: 75%;
  }

  .lf-grid__col--xl-10-12 {
    flex-basis: 83.33333%;
  }

  .lf-grid__col--xl-11-12 {
    flex-basis: 91.66667%;
  }

  .lf-grid__col--xl-12-12 {
    flex-basis: 100%;
  }
}
.lf-grid__col--fit {
  flex: 1 0 8.33333%;
}

.lf-grid__col--center {
  align-self: center;
}

.lf-grid__col--end {
  align-self: flex-end;
}

.lf-grid__col--important {
  order: -1;
}

.lf-grid__box {
  padding: 1em;
}

/*# sourceMappingURL=leaf-grid.css.map */
